[Desktop Entry]
Encoding=UTF-8
Name=Link to Image associée
Type=Link
URL=https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjt0Mrp9azbAhUQ0IMKHXR2CBcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.restaurantnews.com%2Ffirebird-restaurant-group-acquires-village-burger-bar%2F&psig=AOvVaw1Bn4_2ZqnooZVyuA5zBxm-&ust=1527751948419911
Icon=text-html
